
@import 'variables';
* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    background: rgb(235, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.test {
   height: 500px;
   width: 900px;
  min-width: 100vh;
background:linear-gradient(to bottom , hsl(273, 75%, 66%) 0%,hsl(240, 73%, 65%) 50%);
color: $primary-color;
font-family: 'Kumbh Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
margin-top: 80px;
}

.glass {
    height: 350px;
    width: 700px;
    background: white;
    border-radius: 30px;
}

#box {
    position: relative;
    img{

    }
}
#woman {
    position: relative;
    img {
        margin-left: 30px;

    }
}